{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/all_rentals.css' %}">
    <script src="{% static 'js/fade_in.js' %}"></script>

    <title>Apartments</title>
</head>

<header>
    {% include 'header.html' %}
    <script>
        function changeHeaderClass() {
            var header = document.querySelector('.header-with-gradient');
            if (header) {
                header.className = 'normal-header';
            }
        }
        changeHeaderClass();
    </script>
</header>

<body>

<div class="main-container">
    <div class="filter-section">
        <form method="get" action="{% url 'all_rentals' %}">
            <table>
                <tr>
                    <td><label for="city-input">City:</label></td>
                    <td>
                        <input list="city-list" id="city-input" name="city" value="{{ request.GET.city }}" placeholder="Type to search..." autocomplete="off">
                        <datalist id="city-list">
                            {% for city in unique_cities %}
                                <option value="{{ city }}"></option>
                            {% endfor %}
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td><label for="bathrooms">Bathrooms (more than):</label></td>
                    <td>
                        <select name="bathrooms" id="bathrooms">
                            <option value="">Any</option>
                            <option value="1" {% if request.GET.bathrooms == "1" %}selected{% endif %}>1</option>
                            <option value="2" {% if request.GET.bathrooms == "2" %}selected{% endif %}>2</option>
                            <option value="3" {% if request.GET.bathrooms == "3" %}selected{% endif %}>3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="rooms">Rooms (more than):</label></td>
                    <td>
                        <select name="rooms" id="rooms">
                            <option value="">Any</option>
                            <option value="1" {% if request.GET.rooms == "1" %}selected{% endif %}>1</option>
                            <option value="2" {% if request.GET.rooms == "2" %}selected{% endif %}>2</option>
                            <option value="3" {% if request.GET.rooms == "3" %}selected{% endif %}>3</option>
                            <option value="4" {% if request.GET.rooms == "4" %}selected{% endif %}>4</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="price">Max Price per Night:</label></td>
                    <td>
                        <input type="number" id="price" name="price" min="0" value="{{ request.GET.price }}">
                    </td>
                </tr>
                <tr>
                    <td><label for="guests">Max Guests:</label></td>
                    <td>
                        <input type="number" id="guests" name="guests" min="1" value="{{ request.GET.guests }}">
                    </td>
                </tr>
                <tr>
                    <td><label for="beds">Number of Beds:</label></td>
                    <td>
                        <input type="number" id="beds" name="beds" min="1" value="{{ request.GET.beds }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Filter">
                    </td>
                </tr>
            </table>
        </form>
    </div>

<div class="rentals-grid-wrapper">

    <div class="rentals-grid">

    {% for rental in rentals %}
        <div class="rental-item" id="rental-{{ rental.id }}">
            <div class="carousel">
                <button onclick="prevImage('rental-{{ rental.id }}')"> < </button>
                <div class="image-container">
                    {% for image in rental.images.all %}
                        <img src="{{ image.image.url }}" alt="{{ rental.name }}" class="carousel-image" style="{{ forloop.first|yesno:',display:none;' }}">
                    {% endfor %}
                </div>
                <button onclick="nextImage('rental-{{ rental.id }}')"> > </button>
            </div>

            <p class="bold-text"> {{ rental.name }} </p>
            <p>City: {{ rental.address_city }}</p>

            <div class="horizontal-div">
                <a href="{% url 'edit_rental' rental.id %}" class="see-more-btn">See More</a>
                <p>{{ rental.price_per_night }}$</p>
            </div>

        </div>

    {% empty %}
    <p>No rentals found.</p>
    {% endfor %}

    </div>

</div>

</div>





<script>

    document.getElementById('city-input').addEventListener('change', function() {
        var optionFound = false,
            datalist = this.list;

        if (this.value === '') {
            this.setCustomValidity('');
            return;
        }

        for (var j = 0; j < datalist.options.length; j++) {
            if (this.value == datalist.options[j].value) {
                optionFound = true;
                break;
            }
        }
        if (optionFound) {
            this.setCustomValidity('');
        } else {
            this.setCustomValidity('Please select a valid city');
        }
    });

    window.onload = function() {
        {% for rental in rentals %}
            window['currentImageIndex_{{ rental.id }}'] = 0;
            updateCarousel('{{ rental.id }}');
        {% endfor %}
    };

    function updateCarousel(rentalId) {
        var images = document.querySelectorAll('#' + rentalId + ' .carousel-image');
        images.forEach((img, index) => {
            img.style.display = index === window['currentImageIndex_' + rentalId] ? 'block' : 'none';
        });
    }

    function nextImage(rentalId) {
        if (window['currentImageIndex_' + rentalId] === undefined) window['currentImageIndex_' + rentalId] = 0;
        var images = document.querySelectorAll('#' + rentalId + ' .carousel-image');
        window['currentImageIndex_' + rentalId] = (window['currentImageIndex_' + rentalId] + 1) % images.length;
        updateCarousel(rentalId);
    }

    function prevImage(rentalId) {
        if (window['currentImageIndex_' + rentalId] === undefined) window['currentImageIndex_' + rentalId] = 0;
        var images = document.querySelectorAll('#' + rentalId + ' .carousel-image');
        window['currentImageIndex_' + rentalId] = (window['currentImageIndex_' + rentalId] - 1 + images.length) % images.length;
        updateCarousel(rentalId);
    }
    {% for rental in rentals %}
        window['currentImageIndex_{{ rental.id }}'] = 0;
        updateCarousel('{{ rental.id }}');
    {% endfor %}

</script>

</body>
</html>
