{% load static %}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script src="{% static 'js/fade_in.js' %}"></script>
</head>

<header>
    {% include 'header.html' %}
</header>

<body>
<div id="content">

    <h1>Create Reservation</h1>
    <form method="post" id="reservationForm" data-rental-id="{{ rental.id }}" class="standard-form" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" id="pricePerNight" value="{{ rental.price_per_night }}">
        <p>Total Cost: <span id="totalCost">0</span></p>
        <button type="submit">Book Reservation</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<script src="{% static 'js/reservation.js' %}"></script>


