{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Add Personal Data</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<header>
    {% include 'header.html' %}
    <script>
        function changeHeaderClass() {
            var header = document.querySelector('.header-with-gradient');
            if (header) {
                header.className = 'normal-header';
            }
        }
        changeHeaderClass();
    </script>
</header>

<body>
    <div id="content">
        <h1>Edit Your Personal Data</h1>
        <form method="post" class="standard-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
    </div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('.standard-form').addEventListener('submit', function(event) {
        var isValid = true;
        var messages = [];

        var address = document.getElementsByName('address')[0].value;
        var phoneNumber = document.getElementsByName('phone_number')[0].value;

        if (!address.trim()) {
            messages.push('Address is required.');
            isValid = false;
        }

        if (!phoneNumber.trim()) {
            messages.push('Phone number is required.');
            isValid = false;
        } else if (!/^\+\d{2} \d{3} \d{3} \d{3}$/.test(phoneNumber)) {
            messages.push('Phone number is invalid. Necessary format: +xx xxx xxx xxx');
            isValid = false;
        }

        if (!isValid) {
            event.preventDefault();
            alert('Validation errors:\n' + messages.join('\n'));
        }
    });
});
</script>
</body>
</html>
