{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <title>Add Personal Data</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<header>
    {% include 'header.html' %}
    <script>
        function changeHeaderClass() {
            var header = document.querySelector('.header-with-gradient');
            if (header) {
                header.className = 'normal-header';
            }
        }
        changeHeaderClass();
    </script>
</header>
<body>
    <div id="content">
        <h1>Reset Your Password</h1>
        <form method="post" action="{% url 'forgot_password' %}"  class="standard-form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <button type="submit">Send Password Reset Link</button>
        </form>
    </div>
</body>
</html>