{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/fade_in.js' %}"></script>

</head>
<body>

<div class="container">
    <div class="logo">
        <a href="{% url 'home' %}" class="close-button">×</a>
        <h1>LOG IN OR CREATE AN ACCOUNT</h1>
    </div>
    <div class="forms-container">
        <div class="login-form">
            <h2>Already have an account? Log in</h2>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" placeholder="Password" name="password" required>
                <div class="remember-forgot">
                    <a href="{% url 'forgot_password' %}">Forgot password?</a>
                </div>
                <button type="submit">Start</button>
            </form>
        </div>
        <div class="register-prompt">
            <h2>Don't have an account yet?</h2>
            <ul>
                <li>Reserve a Place</li>
                <li>Rent Your Property</li>
            </ul>
            <a href="{% url 'register' %}" class="register-button">Register now</a>
        </div>
    </div>
</div>


</body>
</html>
