{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <script src="{% static 'js/fade_in.js' %}"></script>

    <title>Apartments</title>
</head>

 <header>
        {% include 'header.html' %}
    </header>

<body>

    <div id="content">
        <h1>Register now and rent your dream place!</h1>

        <form class="standard-form" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="first_name" placeholder="Name">
            <input type="text" name="surname" placeholder="Surname">

            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Register</button>

            {% if error %}
                <p class="alert">{{ error }}</p>
            {% endif %}
        </form>


    </div>
    <script src="{% static 'js/account_validation.js' %}"></script>


</body>
</html>