{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <title>Add Personal Data</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<header>
    {% include 'header.html' %}
    <script>
        function changeHeaderClass() {
            var header = document.querySelector('.header-with-gradient');
            if (header) {
                header.className = 'normal-header';
            }
        }
        changeHeaderClass();
    </script>
</header>
<body>
    <div id="content">
        <h1>Reset Your Password</h1>
        <form method="post" action="{% url 'reset_password' uidb64=uidb64 token=token %}" class="standard-form">
            {% csrf_token %}
            <input type="password" name="new_password" placeholder="New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var resetPasswordForm = document.querySelector('form');

        resetPasswordForm.addEventListener('submit', function(event) {
            var newPassword = document.querySelector('input[name="new_password"]').value;
            var confirmPassword = document.querySelector('input[name="confirm_password"]').value;
            var errorMessage = '';
            if (newPassword !== confirmPassword) {
                errorMessage += 'Passwords do not match.\n';
            }
            if (newPassword.length < 8) {
                errorMessage += 'Password must be at least 8 characters long.\n';
            }
            if (!/[A-Z]/.test(newPassword)) {
                errorMessage += 'Password must contain at least one uppercase letter.\n';
            }
            if (!/\d/.test(newPassword)) {
                errorMessage += 'Password must contain at least one digit.\n';
            }
            if (errorMessage.length > 0) {
                event.preventDefault();
                alert(errorMessage);
            }
        });
    });
</script>

</body>
</html>
