success isn't owned. It's leased. And rent is due everyday.
travel is the answer who cares about the question
Find a place to live where the only thing louder than your neighbor's music is the sound of your own heart singing. Because let's face it, love is the only thing that makes thin walls bearable


Our suitcases have tales, secrets untold,
Of trinkets and treasures and memories bold.
We click a thousand photos, but lose our phone,
Ah, the joys of travel, into the unknown!

We make friends in buses, on trains and planes,
Sharing stories, joys, and occasional pains.
From mountains high to valleys deep,
These are the memories we'll forever keep.

So here's to the roads, the seas, the skies,
To the strange foods that challenge our taste buds' lies.
Travel's a poem, written on the go,
A story of love, with the world in tow.

scandinavian vector house - domki

