@import 'variables';

@mixin button-style {
  background-color: transparent;
  color: black;
  padding: $padding-small $padding-medium;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: $transition-parameters !important;
  margin-left: $margin-horizontally;
  margin-right: $margin-horizontally;
  font-family: $font-stack;
  font-weight: 900;
  font-size: $header-font-size;

  &:hover {
    background-color: darken($primary-color, 10%);
    opacity: $basic-opacity;
    color: white;
    i {
      color: lighten($icon-color, 100%);
    }
  }

  i {
    color: $icon-color;
    margin-right: 5px;
    margin-left: 5px;
  }

  &:not(:has(i)) {
    padding: $padding-small;
  }
}

@mixin interactive-text {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    text-align: center;
    transition: $transition-parameters;
    font-family: $font-stack;
    font-size: $base-font-size;

    &:hover {
        background-color: #f1f1f1;
        color: black;
    }
}

@mixin body-with-image{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  transition: $transition-parameters;
  transition: background-image 2s ease-in-out !important;
  opacity: 1;
}

@mixin form-input{
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  font-size: 1em;
}

@mixin form-button{
  padding: 14px;
  background-color: $primary-color;
  color: white;
  border: 1px solid $primary-color;
  cursor: pointer;
  font-size: 1.35em;
  text-align: center;
  border-radius: 5px;
   &:hover {
    background-color: lighten($primary-color, 20%);
    color: darken(white, 20%);
    border-color: lighten($primary-color, 20%);
  }
}

@mixin form-text-h2{
  font-family: $font-stack;
  margin-bottom: 20px;
  font-size: 1.45em;
  font-weight: 900;
}

@mixin standard-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid black;
        padding: 10px;
        margin: 10px 0;
        width: 80%;
        box-sizing: border-box;

        &:focus {
            outline: none;
            border-bottom-color: gray;
        }
    }

    button[type="submit"] {
      margin-top: 20px;
        @include form-button;
    }

    .error {
        color: $error-color;
        margin-top: 20px;
    }
}


@mixin large-title {
  font-family: $font-stack;
  font-size: 40px;
  font-weight: 1400;
  margin-bottom: 30px;
  text-align: center;
}

@mixin horizontal-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin vertical-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
      width: 10px;
  }

  &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;

      &:hover {
          background: #555;
      }
  }
}

@mixin standard-table {
  border-collapse: collapse;
  margin-top: 20px;

  tr {
      border-bottom: 1px solid #ddd;

      &:last-child {
          border-bottom: none;
      }
  }

  td {
      padding: 10px;
      vertical-align: top;

      &:first-child {
          font-weight: bold;
          width: 30%;
          color: #333;
      }

      p {
          margin: 0;
      }
  }
}