@import 'variables';
@import 'mixins';

html {
    font-family: $font-stack;
    @include scroll-bar;
    body {
        margin-top: $header-height;

        .main-container {
            @include horizontal-div;
            align-items: flex-start;
            width: 100%;
            flex-wrap: wrap;

            @media (max-width: 800px) {
                flex-direction: column;
                align-items: center;

                .rentals-grid-wrapper {
                    width: 100%;
                }
                .filter-section {
                    width: 80%;
                    min-width: 300px;
                }
            }

            .filter-section{
                margin-top: 60px;
                width: 27%;
                font-family: Courier, monospace;
                padding: 15px;
                border-right: 1px solid lightgray;

                form {

                    table {
                        width: 100%;
                        tr {
                            margin-bottom: 10px;

                            td:first-child {
                                width: 70%;
                            }

                            td {
                                padding: 5px;

                                input, select, button {
                                    display: block;
                                    width: 100%;
                                    border: none;
                                    border-bottom: 1px solid black;
                                    padding: 5px;
                                    box-sizing: border-box;
                                }

                                input[type="submit"] {
                                    @include button-style;
                                    font-size: 1em;
                                    max-width: 80px;
                                }
                            }
                        }
                    }
                }
            }

            .rentals-grid-wrapper {
                width: 70%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto auto;
                max-width: 1200px;

                .rentals-grid {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
                    justify-content: center;
                    width: 85%;

                    .rental-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: center;
                        border: 1px solid lightgrey;
                        padding: 15px;
                        text-decoration: none;
                        color: inherit;
                        transition: box-shadow 0.3s ease;
                        height: 400px;
                        overflow: hidden;
                        margin: 20px;
                        width: 350px;

                        &:hover {
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        }

                        .carousel {
                            @include horizontal-div;

                            .image-container {
                                width: 300px;
                                height: 200px;
                                background-color: black;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                .carousel-image {
                                    max-height: 100%;
                                    max-width: 100%;
                                    object-fit: contain;
                                    background-color: black;
                                }
                            }
                        }

                        .horizontal-div {
                            @include horizontal-div;

                            .bold-text {
                                @include form-text-h2;
                                margin-left: 90px;
                            }

                            .see-more-btn {
                                @include button-style;
                                text-decoration: none;
                                font-size: 1em;
                                margin-right: 90px;
                            }
                        }

                    }
                }
            }
        }
    }
}
