@import 'variables';
@import 'mixins';

body {
  @include body-with-image;
  background-image: url('../../media/basic/background1.jpg');
}

button {
  @include button-style;
}

.fa {
    font-size: $header-font-size;
}

#left-button{
  @include button-style;
  position: absolute;
  left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: $transition-parameters;

    .dropbtn {
        background-color: transparent;
        color: black;
        padding: $padding-small $padding-medium;
        font-size: $base-font-size;
        border: none;
        cursor: pointer;
        transition: $transition-parameters;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: black;
        opacity: $basic-opacity;
        min-width: 160px;
        z-index: 1;
        right: 0;
        transition: $transition-parameters;

        a {
            @include interactive-text;
        }
    }

    &:hover .dropdown-content {
        display: block;
    }

    &:hover .dropbtn {
      @include button-style;
    }
}

#content {
    opacity: 1;
    transition: opacity 2s ease;
}

.hidden {
    opacity: 0;
}

